html {
  scroll-behavior: smooth;
}

section[role="dialog"] {
  border-radius: 0.25rem;
  max-width: 46rem;
  max-height: 80vh;
}

svg {
  display: inline !important;
}

/* Toast */
/* div[role="alert"] {
  background-color: #63b3ed;
} */

@media only screen and (max-width: 740px) {
  section[role="dialog"] {
    max-width: 36rem;
  }
}

@media only screen and (max-width: 656px) {
  #zonesButton {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .toHide {
    visibility: hidden;
  }
}
